@page
@model website.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}



<div class="row">
    <div class="col-md-6 text-right align-self-center">
        <h2 class="display-4">We are DotNetFin!</h2>
        <p>
            The community of independent developers that gather together to interchange knowledge and experience.
            We are uniting people around the .NET platform, sharing new trends in tech,
            engaging new members as well as helping the community to grow.
        </p>
    </div>
    <div class="col-md-6 align-self-center">
        <div class="card-columns">

            <div class="card">
                <img class="card-img-top" src="./img/logo_small.png" alt="Card image cap">
                <div class="card-body text-center">
                    <h6 class="card-title">Members @Model.NumberOfMembers</h6>
                </div>
            </div>

            <div class="card">
                <img class="card-img-top" src="./img/logo_small.png" alt="Card image cap">
                <div class="card-body text-center">
                    <h6 class="card-title">Cities @Model.NumberOfCities</h6>
                </div>
            </div>
        </div>
    </div>

</div>

            
