@page
@model website.Pages.ContactsModel
@{
}

<h2 class="display-4">
    If you would like to give a speech, support the community, or you just have a cool idea. Please, don't hesitate to contact us. We warmly welcome any propositions.
    <br /><b class="float-right">DotNetFin Team</b>
</h2>