@page
@model website.Pages.ContactsModel
@{
    ViewData["Title"] = "Contacts";
    ViewData["Description"] = "If you would like to give a speech, support the community, or you just have a cool idea. Please, don't hesitate to contact us. We warmly welcome any propositions.";
    ViewData["Keywords"] = "DotNetFin: Community Contacts";
}

<div class="d-flex font-weight-light" style="height:70vh">
    <div class="align-self-center p-5 wrapper">
        <h2 class="text-justify font-weight-light">
            If you would like to give a speech, support the community, or you just have a cool idea. Please, don't hesitate to contact us. We warmly welcome any propositions.
        </h2>
        <h1 class="text-right font-weight-light">
            DotNetFin Team
        </h1>
        <h2 class="text-right font-weight-light">
            Contact person: <a href="mailto:diyaz.yakubov@dotnetfin.com">Diyaz Yakubov</a>
        </h2>
    </div>
</div>
