@page
@model website.Pages.ContactsModel
@{
}

<div>
    <h2 class="display-4">
        If you would like to give a speech, support the community, or you just have a cool idea. Please, don't hesitate to contact us. We warmly welcome any propositions.
    </h2>
    <h2 class="display-4 text-right">
        DotNetFin Team
    </h2>
    <h2 class="text-right font-weight-light">
        Contact person: <a href="mailto:diyaz.yakubov@dotnetfin.com">Diyaz Yakubov</a>
    </h2>
</div>