@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">DotNetFin</h1>
    <p>The community of independent developers that gather together to interchange knowledge and experience.  We are uniting people around the .NET platform, sharing new trends in tech, engaging new members as well as helping the community to grow.</p>
    <code>C:\>dotnet fin</code>
</div>
