@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    ViewData["Description"] = "The Community Of Independent Developers";
    ViewData["Keywords"] = "DotNetFin: .NET Community";
}

<div class="d-flex w-100" style="height:70vh">
    <div class="offset-md-6 col-md-6 text-right align-self-center">
        <h1 class="display-4">DotNetFin</h1>
        <p class="font-weight-light">
            The community of independent developers that gather together to interchange knowledge and experience.
            We are uniting people around the .NET platform, sharing new trends in tech,
            engaging new members as well as helping the community to grow.
        </p>
        @if (!Model.IsSubscribed)
        {
            <form method="post">
                <div class="input-group mb-3">
                    <input type="email"
                           name="email"
                           class="form-control"
                           placeholder="Recipient's username"
                           aria-label="Recipient's username"
                           aria-describedby="button-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="submit" id="button-addon2">become a member</button>
                    </div>
                </div>
            </form>
        }
    </div>
</div>

<script>
    
</script>

